.formulario__container {
    color: $secundary-color;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: $font-family-sans-serif;
}

.px-1 {
    background-color: rgb(255, 242, 0);
    color: black;
}

.form-control {
    border-block: none;
}

.botonContactos {
 font-family: inherit;
 font-size: 20px;
 background: yellow;
 color: black;
 padding: 0.7em 1em;
 padding-left: 0.9em;
 display: flex;
 align-items: center;
 border: none;
 border-radius: 16px;
 overflow: hidden;
 transition: all 0.2s;
}

.botonContactos span {
 display: block;
 margin-left: 0.3em;
 transition: all 0.3s ease-in-out;
}

.botonContactos svg {
 display: block;
 transform-origin: center center;
 transition: transform 0.3s ease-in-out;
}

.botonContactos:hover .svg-wrapper {
 animation: fly-1 0.6s ease-in-out infinite alternate;
}

.botonContactos:hover svg {
 transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.botonContactos:hover span {
 transform: translateX(5em);
}

.botonContactos:active {
 transform: scale(0.95);
}

@keyframes fly-1 {
 from {
  transform: translateY(0.1em);
 }

 to {
  transform: translateY(-0.1em);
 }
}




.container__contactos {
    margin: 10px;
    padding: 20px;
    background-image: url(../galeria/beerpong.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    @include carrousel (100%, 95%);
}

.circle {
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    @include carrousel (50px, 50px);
    background-color: $secundary-color;
    border-radius: 50%;
    animation-name: pong;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    
}

@keyframes pong {
    0% {
        background-color: $secundary-color;
        transform: translateY(0);
    }

    50% {
        background-color: rgb(234, 255, 150);
    }

    100% {
        background-color: rgb(183, 255, 0);
        transform: translateX(250%) translateY(500%);
        
    }
}
